:root {
        --ic-brand-primary-darkened-5: #0079A6;
--ic-brand-primary-darkened-10: #00739D;
--ic-brand-primary-darkened-15: #006C94;
--ic-brand-primary-lightened-5: #0C85B2;
--ic-brand-primary-lightened-10: #198BB6;
--ic-brand-primary-lightened-15: #2692BA;
--ic-brand-button--primary-bgd-darkened-5: #0079A6;
--ic-brand-button--primary-bgd-darkened-15: #006C94;
--ic-brand-button--secondary-bgd-darkened-5: #132748;
--ic-brand-button--secondary-bgd-darkened-15: #112340;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-28: #787878;
--ic-link-color-darkened-10: #00739D;
--ic-link-color-lightened-10: #198BB6;
--ic-brand-primary: #007FAE;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #007FAE;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #13294B;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #007FAE;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #FFFFFF;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #007FAE;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/620096/unc.png');
--ic-brand-mobile-global-nav-logo: url('undefined');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/620099/unc2.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/620098/unc2.png');
--ic-brand-msapplication-tile-color: #ffffff;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/620102/uncc2.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/620101/unc-wide.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/620100/unc-wide.png');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }